In [85]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from keplergl import KeplerGl
import sys
# isplay all columns
pd.set_option('display.max_columns', None)
sys.path.append('../utils/')
from functions import get_zone_info

In [86]:
# Load data
cph = gpd.read_file('../data/processed/cop_area.shp')
dr_trips = pd.read_csv('../data/processed/dr_oneway_spacial.csv')

In [87]:
#map = KeplerGl( height=600,)
#map.add_data(data=dr_trips, name='Donkey Republic Trips')
#map.add_data(data=cph, name='Copenhagen Area')

In [88]:
dr_trips.columns

Index(['StartTime', 'EndTime', 'UserId', 'latitudeStart', 'longitudeStart',
       'nameStart', 'latitudeEnd', 'longitudeEnd', 'nameEnd',
       'StartHubClusterId', 'EndHubClusterId', 'StartClusterName',
       'EndClusterName', 'StartClusterLatitude', 'StartClusterLongitude',
       'EndClusterLatitude', 'EndClusterLongitude', 'HaversineDistance',
       'Month', 'StartHour', 'Weekday', 'TripDurationMin', 'TripDurationHr',
       'SpeedKmHr', 'RoundTrip', 'Route', 'YearMonth', 'DurationGroup',
       'StartTimeUpdated', 'TotalDurationMin', 'TripDistanceKm',
       'TotalWalkingTimeMin', 'TotalTransitTimeMin', 'Changes',
       'PickupStationProximity', 'DropoffStationProximity', 'SpeedKmHrHav',
       'SpeedKmHrP', 'DistanceType', 'UserCategory', 'DayType'],
      dtype='object')

In [89]:
cph.head()

,OBJECTID,komnr,zoneid,zonenavn,zonedescri,numadresse,Shape_Leng,Shape_Area,geometry
0,6585,153,153035,Brøndby Strand NV,Brøndby Kommune,469,5881.304215,6.368232e+05,"MULTIPOLYGON (((717065.090 6167793.410, 717080..."
1,6586,153,153033,Brøndby Strand SV,Brøndby Kommune,567,4178.555401,8.232537e+05,"POLYGON ((714912.062 6169465.885, 714940.877 6..."
2,6588,187,187011,Vallensbæk S,Vallensbæk Kommune,805,7083.711295,1.352975e+06,"POLYGON ((714253.370 6168940.880, 714265.630 6..."
3,6589,153,153021,Brøndbyvester S,Brøndby Kommune,1116,8278.683910,3.304261e+06,"POLYGON ((715846.736 6170548.621, 715502.058 6..."
4,6590,153,153024,Brøndbyvester NNØ,Brøndby Kommune,598,3947.614780,6.585726e+05,"POLYGON ((714678.550 6173491.270, 714675.401 6..."

In [90]:
cph.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OBJECTID    1010 non-null   int64
 1   komnr       1010 non-null   int64
 2   zoneid      1010 non-null   int64
 3   zonenavn    1010 non-null   object
 4   zonedescri  1010 non-null   object
 5   numadresse  1010 non-null   int64
 6   Shape_Leng  1010 non-null   float64
 7   Shape_Area  1010 non-null   float64
 8   geometry    1010 non-null   geometry
dtypes: float64(2), geometry(1), int64(4), object(2)
memory usage: 71.1+ KB

In [91]:
# sort cph by zonedescri and print head
cph = cph.sort_values(by='zonedescri')
cph.head()

,OBJECTID,komnr,zoneid,zonenavn,zonedescri,numadresse,Shape_Leng,Shape_Area,geometry
204,6622,165,165032,Albertslund syd S,Albertslund Kommune,719,2833.998761,3.999415e+05,"POLYGON ((710843.199 6173082.418, 710889.352 6..."
913,7366,165,165023,Albertslund syd Station,Albertslund Kommune,284,2864.936954,4.434655e+05,"POLYGON ((711293.725 6173197.729, 710985.236 6..."
914,7367,165,165022,Albertslund syd N,Albertslund Kommune,158,2870.324874,4.518948e+05,"POLYGON ((711081.763 6174210.545, 711103.730 6..."
30,6666,165,165012,Albertslund nord SØ,Albertslund Kommune,1334,4701.005062,1.003677e+06,"POLYGON ((712827.337 6175339.891, 712826.940 6..."
213,7427,165,165015,Albertslund nord NV,Albertslund Kommune,74,13819.909903,5.954921e+06,"POLYGON ((710581.520 6178346.360, 710627.110 6..."

In [92]:
aggregated_gdf = cph.dissolve(by='zonedescri', as_index=False)

In [93]:
aggregated_gdf.head()

,zonedescri,geometry,OBJECTID,komnr,zoneid,zonenavn,numadresse,Shape_Leng,Shape_Area
0,Albertslund Kommune,"POLYGON ((710599.140 6171955.530, 710597.460 6...",6622,165,165032,Albertslund syd S,719,2833.998761,3.999415e+05
1,Allerød Kommune,"POLYGON ((705703.640 6191011.130, 705699.320 6...",6440,201,201024,Allerød CV,540,3950.717975,7.883861e+05
2,Ballerup Kommune,"POLYGON ((711571.540 6178267.240, 711559.640 6...",7755,151,151091,Kildedal,49,8546.735381,2.456872e+06
3,Brøndby Kommune,"MULTIPOLYGON (((714938.550 6168297.450, 714919...",6592,153,153023,Brøndbyvester Midt,558,4045.871436,9.080656e+05
4,Dragør Kommune,"MULTIPOLYGON (((725453.220 6162606.340, 725459...",6569,155,155016,Dragør CS,664,3363.981955,6.992127e+05

In [94]:
#map.add_data(data=aggregated_gdf, name='Aggregated Zones')
#map.add_data(data=cph, name='Copenhagen Area')

In [95]:
#map

In [96]:
# see if there is any invalid geometry in aggregated_gdf
aggregated_gdf.is_valid.unique()

array([ True])

In [97]:
def get_zone_info1(shpfile, clustername, longitudes, latitudes, condition='start'):
    """
    Retrieve zone information based on given points' longitude and latitude.

    Args:
        shpfile_path (str): Path to the shapefile.
        longitudes (iterable): Longitudes of the points.
        latitudes (iterable): Latitudes of the points.

    Returns:
        pandas.DataFrame: A DataFrame containing zone information for each point.
            - zoneID: 6-digit zone ID as in the shapefile.
            - zoneName: Name of the zone as in the shapefile.
            - clustername: Cluster name.
    """

    # convert to WGS84
    new_gdf = shpfile.to_crs("EPSG:4326")

    # Create GeoDataFrame from provided longitudes and latitudes
    points_df = pd.DataFrame({
        'Longitude': longitudes,
        'Latitude': latitudes,
        "ClusterName": clustername,
    })
    points_gdf = gpd.GeoDataFrame(points_df, geometry=gpd.points_from_xy(points_df.Longitude, points_df.Latitude), crs="EPSG:4326")

    # Perform spatial join
    joined_gdf = gpd.sjoin(points_gdf, new_gdf, how="left", predicate='intersects',)

    # Select relevant columns and rename them, zonenavn, zonedescri
    zone_info_df = joined_gdf[['zoneid', 'zonenavn', 'zonedescri', 'ClusterName']].copy()
    if condition == 'start':
        zone_info_df.columns = ['StartZoneId', 'StartZoneName', 'StartZoneDescri', 'StartClusterName']
    else:
        zone_info_df.columns = ['EndZoneId', 'EndZoneName', 'EndZoneDescri', 'EndClusterName']

    return zone_info_df

# Example usage:
# longitudes = [longitude1, longitude2, ...]
# latitudes = [latitude1, latitude2, ...]
# zone_info_df = get_zone_info(shpfile_path, longitudes, latitudes)

In [98]:
cph.is_valid.value_counts()

True     1008
False       2
Name: count, dtype: int64

In [99]:
# fix invalid geometries in geometry column
cph['geometry'] = cph.geometry.buffer(0)

In [100]:
zoneinfo_dataframe = get_zone_info1(cph,dr_trips["EndClusterName"], dr_trips['longitudeEnd'].values, 
                                    dr_trips['latitudeEnd'].values, condition = 'end')

In [101]:
# print head of rows where EndzoneID is null 
zoneinfo_dataframe[zoneinfo_dataframe['EndZoneId'].isnull()].head()

      EndZoneId EndZoneName EndZoneDescri               EndClusterName
1349        NaN         NaN           NaN  Havnegade Harbour Promenade
2146        NaN         NaN           NaN  Havnegade Harbour Promenade
2500        NaN         NaN           NaN  Havnegade Harbour Promenade
4072        NaN         NaN           NaN  Havnegade Harbour Promenade
5961        NaN         NaN           NaN  Havnegade Harbour Promenade

In [102]:
# print nr of nan values
zoneinfo_dataframe.isna().sum()

EndZoneId         168
EndZoneName       168
EndZoneDescri     168
EndClusterName      0
dtype: int64

In [103]:
zoneinfo_dataframe.iloc[:,:3]

,EndZoneId,EndZoneName,EndZoneDescri
0,103173.0,Sundbyvester NNØ,"Københavns Kommune, Amager"
1,102821.0,Vesterbro N,Københavns Kommune syd for Frederiksberg
2,103193.0,Islands Brygge S,"Københavns Kommune, Amager"
3,103193.0,Islands Brygge S,"Københavns Kommune, Amager"
4,102541.0,Utterslev NØ,Københavns Kommune Nord
...,...,...,...
82247,102442.0,Indre Nørrebro Ø,Københavns Kommune Nord
82248,102131.0,Rådhuspladsen,"Københavns Kommune, indre by og Christianshavn"
82249,147233.0,Frederiksberg Vest Midt NØ,Frederiksberg Kommune
82250,102141.0,Rundetårn,"Københavns Kommune, indre by og Christianshavn"
82251,103141.0,Christianshavn Midt Ø,"Københavns Kommune, indre by og Christianshavn"

In [105]:
start_zoneinfo_dataframe = get_zone_info1(cph, dr_trips["StartClusterName"], dr_trips['longitudeStart'].values, dr_trips['latitudeStart'].values, condition = 'start')

In [106]:
# append first 3 columns of zoneinfo_dataframe to dr_trips
dr_trips = pd.concat([dr_trips, start_zoneinfo_dataframe.iloc[:,:3]], axis=1)
dr_trips = pd.concat([dr_trips, zoneinfo_dataframe.iloc[:,:3]], axis=1)

In [107]:
dr_trips.head()

,StartTime,EndTime,UserId,latitudeStart,longitudeStart,nameStart,latitudeEnd,longitudeEnd,nameEnd,StartHubClusterId,EndHubClusterId,StartClusterName,EndClusterName,StartClusterLatitude,StartClusterLongitude,EndClusterLatitude,EndClusterLongitude,HaversineDistance,Month,StartHour,Weekday,TripDurationMin,TripDurationHr,SpeedKmHr,RoundTrip,Route,YearMonth,DurationGroup,StartTimeUpdated,TotalDurationMin,TripDistanceKm,TotalWalkingTimeMin,TotalTransitTimeMin,Changes,PickupStationProximity,DropoffStationProximity,SpeedKmHrHav,SpeedKmHrP,DistanceType,UserCategory,DayType,StartZoneId,StartZoneName,StartZoneDescri,EndZoneId,EndZoneName,EndZoneDescri
0,2018-03-01 17:43:14.707445,2018-03-01 18:14:12.145000,108186,55.673440,12.564409,Central Station,55.658239,12.605434,Skotlands Plads,590,331,Central Station,Skotlands Plads,55.673117,12.564212,55.658397,12.605787,3.078446,March,17,Thursday,30.957293,0.515955,6.008277,False,Central Station -> Skotlands Plads,2018-03,0-1 hour,2023-11-16 17:43:14.707445,17.500000,3.86560,6.500000,11.0,0.0,324.78,125.35,5.966503,7.492128,Medium,Occasional Users,Weekday,102182.0,Københavns Hovedbanegård,Københavns Kommune syd for Frederiksberg,103173.0,Sundbyvester NNØ,"Københavns Kommune, Amager"
1,2018-03-03 13:22:27.557683,2018-03-03 13:40:09.817000,109897,55.673668,12.571551,H. C. Andersens Blvd.,55.668555,12.547020,Broagergade,579,564,Ved Glyptoteket,Broagergade,55.672956,12.570784,55.669073,12.546464,1.640003,March,13,Saturday,17.704322,0.295072,10.505909,False,Ved Glyptoteket -> Broagergade,2018-03,0-1 hour,2023-11-18 13:22:27.557683,15.533333,2.69815,10.533333,5.0,0.0,80.07,677.63,5.557974,9.144038,Short,Occasional Users,Weekend,102172.0,Tivoli,"Københavns Kommune, indre by og Christianshavn",102821.0,Vesterbro N,Københavns Kommune syd for Frederiksberg
2,2018-03-06 07:45:32.192047,2018-03-06 08:09:27.571000,1,55.672142,12.590571,Christianshavn,55.665808,12.578714,Egilsgade,50,542,Christianshavn,Egilsgade,55.672121,12.590597,55.665262,12.579198,1.024221,March,7,Tuesday,23.922983,0.398716,7.774950,False,Christianshavn -> Egilsgade,2018-03,0-1 hour,2023-11-21 07:45:32.192047,15.233333,1.87281,14.233333,1.0,0.0,100.86,538.09,2.568796,4.697098,Short,Moderately Active Users,Weekday,103142.0,Christianshavn S,"Københavns Kommune, indre by og Christianshavn",103193.0,Islands Brygge S,"Københavns Kommune, Amager"
3,2018-03-07 09:14:43.451300,2018-03-07 09:44:31.006000,14,55.682597,12.571227,Nørreport St.,55.666573,12.580692,Founders House,40,538,Nørreport St.,Founders House,55.683061,12.570524,55.666721,12.579745,1.878027,March,9,Wednesday,29.792578,0.496543,6.243166,False,Nørreport St. -> Founders House,2018-03,0-1 hour,2023-11-15 09:14:43.451300,22.550000,4.49931,12.333333,8.0,1.0,190.22,116.28,3.782205,9.061270,Short,Occasional Users,Weekday,102141.0,Rundetårn,"Københavns Kommune, indre by og Christianshavn",103193.0,Islands Brygge S,"Københavns Kommune, Amager"
4,2018-03-08 08:57:15.603150,2018-03-08 09:33:33.622000,114469,55.668653,12.543646,Vega,55.701914,12.533708,Frederikssundsvej,562,267,Vega,Frederikssundsvej,55.668626,12.543944,55.702002,12.533122,3.750543,March,8,Thursday,36.300314,0.605005,5.123923,False,Vega -> Frederikssundsvej,2018-03,0-1 hour,2023-11-16 08:57:15.603150,23.733333,5.81268,13.733333,10.0,0.0,267.99,375.18,6.199191,9.607652,Medium,Occasional Users,Weekday,102821.0,Vesterbro N,Københavns Kommune syd for Frederiksberg,102541.0,Utterslev NØ,Københavns Kommune Nord

In [108]:
# show rows ehre StartZoneId is null and EndZoneId is null
dr_trips[(dr_trips['StartZoneId'].isnull())]['StartClusterName'].value_counts().index
# for each of the clusters obtained above, find out the StartClusterName which is closest to the location of the cluster
# and assign the StartZoneId, StartZoneName, and StartZoneDescri to the rows where StartZoneId is null

Index(['Havnegade Harbour Promenade', 'Nordhavn St.', 'Corkgade'], dtype='object', name='StartClusterName')

In [109]:
import pandas as pd
from haversine import haversine

# Assuming dr_trips is your DataFrame
# Sample structure for dr_trips (replace with your actual DataFrame setup)

# Function to calculate Haversine distance
def calculate_haversine(lat1, lon1, lat2, lon2):
    """Calculate the Haversine distance between two points in kilometers."""
    return haversine((lat1, lon1), (lat2, lon2), unit='km')

# Identify clusters with missing StartZoneId and prepare data for all clusters
missing_clusters = dr_trips[dr_trips['StartZoneId'].isnull()]['StartClusterName'].unique()
all_clusters = dr_trips[['StartClusterName', 'StartClusterLatitude', 'StartClusterLongitude']].drop_duplicates()

# Iterate over missing clusters to calculate distances and perform imputation
for missing_cluster in missing_clusters:
    missing_lat = dr_trips.loc[dr_trips['StartClusterName'] == missing_cluster, 'StartClusterLatitude'].iloc[0]
    missing_lon = dr_trips.loc[dr_trips['StartClusterName'] == missing_cluster, 'StartClusterLongitude'].iloc[0]

    # Calculate distances from the missing cluster to all other clusters
    distances = []
    for _, row in all_clusters.iterrows():
        if row['StartClusterName'] != missing_cluster:
            distance = calculate_haversine(missing_lat, missing_lon, row['StartClusterLatitude'], row['StartClusterLongitude'])
            distances.append((row['StartClusterName'], distance))

    # Sort distances and take the closest cluster
    closest_cluster_name = sorted(distances, key=lambda x: x[1])[0][0]

    # Find the row index(es) of the closest cluster with valid StartZoneId for imputation
    closest_cluster_info = dr_trips[dr_trips['StartClusterName'] == closest_cluster_name].iloc[0]

    # Impute the missing values
    dr_trips.loc[dr_trips['StartClusterName'] == missing_cluster, 'StartZoneId'] = closest_cluster_info['StartZoneId']
    dr_trips.loc[dr_trips['StartClusterName'] == missing_cluster, 'StartZoneName'] = closest_cluster_info['StartZoneName']
    dr_trips.loc[dr_trips['StartClusterName'] == missing_cluster, 'StartZoneDescri'] = closest_cluster_info['StartZoneDescri']
    dr_trips.loc[dr_trips['EndClusterName'] == missing_cluster, 'EndZoneId'] = closest_cluster_info['EndZoneId']
    dr_trips.loc[dr_trips['EndClusterName'] == missing_cluster, 'EndZoneName'] = closest_cluster_info['EndZoneName']
    dr_trips.loc[dr_trips['EndClusterName'] == missing_cluster, 'EndZoneDescri'] = closest_cluster_info['EndZoneDescri']

    # Optional: Print the closest clusters for verification
    print(f"Missing Cluster: {missing_cluster}, Closest Cluster: {closest_cluster_name}, Distance: {sorted(distances, key=lambda x: x[1])[0][1]} km")

Missing Cluster: Havnegade Harbour Promenade, Closest Cluster: Havnegade, Distance: 0.18626914819973797 km
Missing Cluster: Nordhavn St., Closest Cluster: Hjørringgade, Distance: 0.1670189887317229 km
Missing Cluster: Corkgade, Closest Cluster: Hamborg Plads, Distance: 0.21973679349776398 km

In [110]:
dr_trips[(dr_trips['EndZoneId'].isnull())]['EndClusterName'].value_counts()

Series([], Name: count, dtype: int64)

In [111]:
dr_trips.columns

Index(['StartTime', 'EndTime', 'UserId', 'latitudeStart', 'longitudeStart',
       'nameStart', 'latitudeEnd', 'longitudeEnd', 'nameEnd',
       'StartHubClusterId', 'EndHubClusterId', 'StartClusterName',
       'EndClusterName', 'StartClusterLatitude', 'StartClusterLongitude',
       'EndClusterLatitude', 'EndClusterLongitude', 'HaversineDistance',
       'Month', 'StartHour', 'Weekday', 'TripDurationMin', 'TripDurationHr',
       'SpeedKmHr', 'RoundTrip', 'Route', 'YearMonth', 'DurationGroup',
       'StartTimeUpdated', 'TotalDurationMin', 'TripDistanceKm',
       'TotalWalkingTimeMin', 'TotalTransitTimeMin', 'Changes',
       'PickupStationProximity', 'DropoffStationProximity', 'SpeedKmHrHav',
       'SpeedKmHrP', 'DistanceType', 'UserCategory', 'DayType', 'StartZoneId',
       'StartZoneName', 'StartZoneDescri', 'EndZoneId', 'EndZoneName',
       'EndZoneDescri'],
      dtype='object')

In [112]:
# rename the occurences where Bermuda Triangle is the StartClusterName or EndClusterName to Kongens Nytorv
dr_trips['StartClusterName'] = dr_trips['StartClusterName'].replace('Bermuda Triangle', 'Kongens Nytorv')
dr_trips['EndClusterName'] = dr_trips['EndClusterName'].replace('Bermuda Triangle', 'Kongens Nytorv')

In [ ]:
dr_trips.head()

,StartTime,EndTime,UserId,latitudeStart,longitudeStart,nameStart,latitudeEnd,longitudeEnd,nameEnd,StartHubClusterId,EndHubClusterId,StartClusterName,EndClusterName,StartClusterLatitude,StartClusterLongitude,EndClusterLatitude,EndClusterLongitude,HaversineDistance,Month,StartHour,Weekday,TripDurationMin,TripDurationHr,SpeedKmHr,RoundTrip,Route,YearMonth,DurationGroup,StartTimeUpdated,TotalDurationMin,TripDistanceKm,TotalWalkingTimeMin,TotalTransitTimeMin,Changes,PickupStationProximity,DropoffStationProximity,SpeedKmHrHav,SpeedKmHrP,DistanceType,UserCategory,DayType,StartZoneId,StartZoneName,StartZoneDescri,EndZoneId,EndZoneName,EndZoneDescri
0,2018-03-01 17:43:14.707445,2018-03-01 18:14:12.145000,108186,55.673440,12.564409,Central Station,55.658239,12.605434,Skotlands Plads,590,331,Central Station,Skotlands Plads,55.673117,12.564212,55.658397,12.605787,3.078446,March,17,Thursday,30.957293,0.515955,6.008277,False,Central Station -> Skotlands Plads,2018-03,0-1 hour,2023-11-16 17:43:14.707445,17.500000,3.86560,6.500000,11.0,0.0,324.78,125.35,5.966503,7.492128,Medium,Occasional Users,Weekday,102182.0,Københavns Hovedbanegård,Københavns Kommune syd for Frederiksberg,103173.0,Sundbyvester NNØ,"Københavns Kommune, Amager"
1,2018-03-03 13:22:27.557683,2018-03-03 13:40:09.817000,109897,55.673668,12.571551,H. C. Andersens Blvd.,55.668555,12.547020,Broagergade,579,564,Ved Glyptoteket,Broagergade,55.672956,12.570784,55.669073,12.546464,1.640003,March,13,Saturday,17.704322,0.295072,10.505909,False,Ved Glyptoteket -> Broagergade,2018-03,0-1 hour,2023-11-18 13:22:27.557683,15.533333,2.69815,10.533333,5.0,0.0,80.07,677.63,5.557974,9.144038,Short,Occasional Users,Weekend,102172.0,Tivoli,"Københavns Kommune, indre by og Christianshavn",102821.0,Vesterbro N,Københavns Kommune syd for Frederiksberg
2,2018-03-06 07:45:32.192047,2018-03-06 08:09:27.571000,1,55.672142,12.590571,Christianshavn,55.665808,12.578714,Egilsgade,50,542,Christianshavn,Egilsgade,55.672121,12.590597,55.665262,12.579198,1.024221,March,7,Tuesday,23.922983,0.398716,7.774950,False,Christianshavn -> Egilsgade,2018-03,0-1 hour,2023-11-21 07:45:32.192047,15.233333,1.87281,14.233333,1.0,0.0,100.86,538.09,2.568796,4.697098,Short,Moderately Active Users,Weekday,103142.0,Christianshavn S,"Københavns Kommune, indre by og Christianshavn",103193.0,Islands Brygge S,"Københavns Kommune, Amager"
3,2018-03-07 09:14:43.451300,2018-03-07 09:44:31.006000,14,55.682597,12.571227,Nørreport St.,55.666573,12.580692,Founders House,40,538,Nørreport St.,Founders House,55.683061,12.570524,55.666721,12.579745,1.878027,March,9,Wednesday,29.792578,0.496543,6.243166,False,Nørreport St. -> Founders House,2018-03,0-1 hour,2023-11-15 09:14:43.451300,22.550000,4.49931,12.333333,8.0,1.0,190.22,116.28,3.782205,9.061270,Short,Occasional Users,Weekday,102141.0,Rundetårn,"Københavns Kommune, indre by og Christianshavn",103193.0,Islands Brygge S,"Københavns Kommune, Amager"
4,2018-03-08 08:57:15.603150,2018-03-08 09:33:33.622000,114469,55.668653,12.543646,Vega,55.701914,12.533708,Frederikssundsvej,562,267,Vega,Frederikssundsvej,55.668626,12.543944,55.702002,12.533122,3.750543,March,8,Thursday,36.300314,0.605005,5.123923,False,Vega -> Frederikssundsvej,2018-03,0-1 hour,2023-11-16 08:57:15.603150,23.733333,5.81268,13.733333,10.0,0.0,267.99,375.18,6.199191,9.607652,Medium,Occasional Users,Weekday,102821.0,Vesterbro N,Københavns Kommune syd for Frederiksberg,102541.0,Utterslev NØ,Københavns Kommune Nord

In [ ]:
aggregated_gdf.head()

,zonedescri,geometry,OBJECTID,komnr,zoneid,zonenavn,numadresse,Shape_Leng,Shape_Area
0,Albertslund Kommune,"POLYGON ((710599.140 6171955.530, 710597.460 6...",6622,165,165032,Albertslund syd S,719,2833.998761,3.999415e+05
1,Allerød Kommune,"POLYGON ((705703.640 6191011.130, 705699.320 6...",6440,201,201024,Allerød CV,540,3950.717975,7.883861e+05
2,Ballerup Kommune,"POLYGON ((711571.540 6178267.240, 711559.640 6...",7755,151,151091,Kildedal,49,8546.735381,2.456872e+06
3,Brøndby Kommune,"MULTIPOLYGON (((714938.550 6168297.450, 714919...",6592,153,153023,Brøndbyvester Midt,558,4045.871436,9.080656e+05
4,Dragør Kommune,"MULTIPOLYGON (((725453.220 6162606.340, 725459...",6569,155,155016,Dragør CS,664,3363.981955,6.992127e+05

In [119]:
common_values = np.intersect1d(dr_trips['StartZoneDescri'].unique(), dr_trips['EndZoneDescri'].unique())
common_values

# filter aggregated_gdf to only include the common values
aggregated_gdf = aggregated_gdf[aggregated_gdf['zonedescri'].isin(common_values)]

In [127]:
common_values = np.intersect1d(dr_trips['StartZoneId'].unique(), dr_trips['EndZoneId'].unique())
common_values

# filter aggregated_gdf to only include the common values
cph = cph[cph['zoneid'].isin(common_values)]

In [128]:
# group by StartZoneId and count the number of trips
start_zone_counts = dr_trips.groupby('StartZoneId').size().reset_index(name='StartZoneCounts')
# rename startzoneid to zoneid
start_zone_counts = start_zone_counts.rename(columns={'StartZoneId': 'zoneid'})
# merge with cph
cph = cph.merge(start_zone_counts, on='zoneid', how='left')

In [122]:
#group by StartZoneDescri
start_zone_group = dr_trips.groupby('StartZoneDescri').size().reset_index(name='counts')
# rename StartZoneDescri to zonedescri
start_zone_group = start_zone_group.rename(columns={'StartZoneDescri': 'zonedescri', 'counts': 'start_counts'})
# merge with aggregated_gdf
aggregated_gdf = aggregated_gdf.merge(start_zone_group, on='zonedescri', how='left')

In [123]:
aggregated_gdf.head()

,zonedescri,geometry,OBJECTID,komnr,zoneid,zonenavn,numadresse,Shape_Leng,Shape_Area,counts,start_counts
0,Brøndby Kommune,"MULTIPOLYGON (((714938.550 6168297.450, 714919...",6592,153,153023,Brøndbyvester Midt,558,4045.871436,9.080656e+05,14,14
1,Frederiksberg Kommune,"POLYGON ((721602.375 6174599.755, 721597.370 6...",7741,147,147132,Frederiksberg Øst S NV,465,2591.563566,4.095352e+05,6236,6236
2,Gentofte Kommune,"POLYGON ((723178.280 6181020.560, 723169.240 6...",7485,157,157223,Gentofte V,130,2561.827863,2.460788e+05,453,453
3,Gladsaxe Kommune,"POLYGON ((718253.790 6180416.990, 718234.160 6...",7606,159,159093,Skovbrynet NØ,248,4236.652900,1.175711e+06,13,13
4,Hvidovre Kommune,"POLYGON ((718382.580 6167241.720, 718277.670 6...",5771,167,167055,Avedøre NV,1010,3936.458532,9.001363e+05,17,17

In [131]:
map = KeplerGl( height=700,)
#map.add_data(data=dr_trips, name='Donkey Republic Trips')
map.add_data(data=aggregated_gdf, name='Aggregated Zones')
map.add_data(data=cph, name='Copenhagen Area')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [132]:
map

KeplerGl(data={'Aggregated Zones': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'columns': ['zonedescri',…

In [133]:
map.save_to_html(file_name='kepler_map.html')

Map saved to kepler_map.html!

In [ ]:
driver = webdriver.Chrome()
driver.get('notebooks\kepler_map.html')

In [34]:
# Example setup for aggregated_gdf
# aggregated_gdf = gpd.read_file('path_to_your_aggregated_shapefile.shp')  # Adjust as necessary

# Convert geometries to GeoJSON strings
#aggregated_gdf['geometry_geojson'] = aggregated_gdf['geometry'].apply(lambda x: gpd.GeoSeries([x]).to_json())

# Assuming 'zonedescri' is the column in aggregated_gdf that matches with StartZoneDescri and EndZoneDescri in dr_trips
start_geom_map = aggregated_gdf.set_index('zonedescri')['geometry']
end_geom_map = aggregated_gdf.set_index('zonedescri')['geometry']
# Map the GeoJSON strings to dr_trips
dr_trips['StartGeometry'] = dr_trips['StartZoneDescri'].map(start_geom_map)
dr_trips['EndGeometry'] = dr_trips['EndZoneDescri'].map(end_geom_map)

In [41]:
dr_trips.head()

,StartTime,EndTime,UserId,latitudeStart,longitudeStart,nameStart,latitudeEnd,longitudeEnd,nameEnd,StartHubClusterId,EndHubClusterId,StartClusterName,EndClusterName,StartClusterLatitude,StartClusterLongitude,EndClusterLatitude,EndClusterLongitude,HaversineDistance,Month,StartHour,Weekday,TripDurationMin,TripDurationHr,SpeedKmHr,RoundTrip,Route,YearMonth,DurationGroup,StartTimeUpdated,TotalDurationMin,TripDistanceKm,TotalWalkingTimeMin,TotalTransitTimeMin,Changes,PickupStationProximity,DropoffStationProximity,SpeedKmHrHav,SpeedKmHrP,DistanceType,UserCategory,DayType,StartZoneId,StartZoneName,StartZoneDescri,EndZoneId,EndZoneName,EndZoneDescri,StartGeometry,EndGeometry
0,2018-03-01 17:43:14.707445,2018-03-01 18:14:12.145000,108186,55.673440,12.564409,Central Station,55.658239,12.605434,Skotlands Plads,590,331,Central Station,Skotlands Plads,55.673117,12.564212,55.658397,12.605787,3.078446,March,17,Thursday,30.957293,0.515955,6.008277,False,Central Station -> Skotlands Plads,2018-03,0-1 hour,2023-11-16 17:43:14.707445,17.500000,3.86560,6.500000,11.0,0.0,324.78,125.35,5.966503,7.492128,Medium,Occasional Users,Weekday,102182.0,Københavns Hovedbanegård,Københavns Kommune syd for Frederiksberg,103173.0,Sundbyvester NNØ,"Københavns Kommune, Amager","POLYGON ((721651.950 6171353.960, 721584.410 6...","POLYGON ((726156.540 6170569.540, 726154.360 6..."
1,2018-03-03 13:22:27.557683,2018-03-03 13:40:09.817000,109897,55.673668,12.571551,H. C. Andersens Blvd.,55.668555,12.547020,Broagergade,579,564,Ved Glyptoteket,Broagergade,55.672956,12.570784,55.669073,12.546464,1.640003,March,13,Saturday,17.704322,0.295072,10.505909,False,Ved Glyptoteket -> Broagergade,2018-03,0-1 hour,2023-11-18 13:22:27.557683,15.533333,2.69815,10.533333,5.0,0.0,80.07,677.63,5.557974,9.144038,Short,Occasional Users,Weekend,102172.0,Tivoli,"Københavns Kommune, indre by og Christianshavn",102821.0,Vesterbro N,Københavns Kommune syd for Frederiksberg,"MULTIPOLYGON (((724889.950 6175141.730, 724905...","POLYGON ((721651.950 6171353.960, 721584.410 6..."
2,2018-03-06 07:45:32.192047,2018-03-06 08:09:27.571000,1,55.672142,12.590571,Christianshavn,55.665808,12.578714,Egilsgade,50,542,Christianshavn,Egilsgade,55.672121,12.590597,55.665262,12.579198,1.024221,March,7,Tuesday,23.922983,0.398716,7.774950,False,Christianshavn -> Egilsgade,2018-03,0-1 hour,2023-11-21 07:45:32.192047,15.233333,1.87281,14.233333,1.0,0.0,100.86,538.09,2.568796,4.697098,Short,Moderately Active Users,Weekday,103142.0,Christianshavn S,"Københavns Kommune, indre by og Christianshavn",103193.0,Islands Brygge S,"Københavns Kommune, Amager","MULTIPOLYGON (((724889.950 6175141.730, 724905...","POLYGON ((726156.540 6170569.540, 726154.360 6..."
3,2018-03-07 09:14:43.451300,2018-03-07 09:44:31.006000,14,55.682597,12.571227,Nørreport St.,55.666573,12.580692,Founders House,40,538,Nørreport St.,Founders House,55.683061,12.570524,55.666721,12.579745,1.878027,March,9,Wednesday,29.792578,0.496543,6.243166,False,Nørreport St. -> Founders House,2018-03,0-1 hour,2023-11-15 09:14:43.451300,22.550000,4.49931,12.333333,8.0,1.0,190.22,116.28,3.782205,9.061270,Short,Occasional Users,Weekday,102141.0,Rundetårn,"Københavns Kommune, indre by og Christianshavn",103193.0,Islands Brygge S,"Københavns Kommune, Amager","MULTIPOLYGON (((724889.950 6175141.730, 724905...","POLYGON ((726156.540 6170569.540, 726154.360 6..."
4,2018-03-08 08:57:15.603150,2018-03-08 09:33:33.622000,114469,55.668653,12.543646,Vega,55.701914,12.533708,Frederikssundsvej,562,267,Vega,Frederikssundsvej,55.668626,12.543944,55.702002,12.533122,3.750543,March,8,Thursday,36.300314,0.605005,5.123923,False,Vega -> Frederikssundsvej,2018-03,0-1 hour,2023-11-16 08:57:15.603150,23.733333,5.81268,13.733333,10.0,0.0,267.99,375.18,6.199191,9.607652,Medium,Occasional Users,Weekday,102821.0,Vesterbro N,Københavns Kommune syd for Frederiksberg,102541.0,Utterslev NØ,Københavns Kommune Nord,"POLYGON ((721651.950 6171353.960, 721584.410 6...","POLYGON ((718479.630 6175162.789, 718457.380 6..."

In [66]:
dr_trips = dr_trips.rename(columns={'StartGeometry': 'geometry'})
# convert to geodataframe
dr_trips = gpd.GeoDataFrame(dr_trips, geometry='geometry')
# rename StartGeometry to geometry

In [48]:
dr_trips.is_valid.value_counts()

True    82252
Name: count, dtype: int64

In [43]:
# # If `dr_trips` is a GeoDataFrame and contains 'geometry' column
# if isinstance(dr_trips, gpd.GeoDataFrame) and 'StartGeometry' in dr_trips:
#     dr_trips['StartGeometry'] = dr_trips['StartGeometry'].apply(lambda geom: geom.__geo_interface__)

# # If `dr_trips` is a GeoDataFrame and contains 'geometry' column
# if isinstance(dr_trips, gpd.GeoDataFrame) and 'EndGeometry' in dr_trips:
#     dr_trips['EndGeometry'] = dr_trips['EndGeometry'].apply(lambda geom: geom.__geo_interface__)

In [60]:
# groupby StartGeometry and count the number of trips
start_trips = dr_trips.groupby('StartGeometry').size().reset_index(name='StartTrips')

In [61]:
start_trips = start_trips.rename(columns={'StartGeometry': 'geometry'})
start_trips = gpd.GeoDataFrame(start_trips, geometry='geometry')
# rename to geometry

In [68]:
# Create a KeplerGl map
map_ = KeplerGl(height=600)

# Add the dr_trips DataFrame to the map
# Since the geometries are in WKT format, they should be automatically recognized and plotted
map_.add_data(data=dr_trips, name='Trips')

# Display the map
map_

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeyboardInterrupt: